@import '../../../style/variables';

.recipe-page-container {
    .title {
        margin-top: 0;
        text-align: center;
    }

    .recipe-body-container {
        display: flex;
        align-items: center;
    }

    .logo-container {
        width: 270px;
        height: 270px;
        padding: 15px;
        box-sizing: border-box;
        background-color: $light-background;
        border-radius: 100%;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .details-container {
        flex-grow: 1;
        margin: 0 20px;

        .row {
            display: flex;
            margin: 20px 0;
            padding-bottom: 5px;
            justify-content: space-between;
            border-bottom: 1px solid $text-secondary;
            align-items: center;

            &.input-container {
                border-bottom: 0;

                p {
                    font-weight: 600;
                    width: 20%;
                }

                label {
                    font-size: 18px;
                    display: flex;
                    align-items: center;

                    &>input {
                        margin-right: 10px;
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            p {
                margin: 0;
            }
        }

        .ratings {
            display: flex;
            flex-direction: column;

            .rate {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $text-secondary;
                padding-bottom: 0;
            }

            .rate-actions {
                display: flex;
                align-items: center;

                .primary {
                    margin-left: 20px;
                }
            }
        }

        .update-btn-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.svg-container {
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;

    svg {
        width: 100%;
        height: 100%;
    }
}

.recipe-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: $breakpoint-sm) {
    .recipe-body-container {
        flex-direction: column;

        .details-container {
            width: 100%;

            .ratings {
                .rate {
                    align-items: flex-start;
                    border-bottom: 0;

                    p {
                        margin: 0;
                    }
                }

                .rate-actions {
                    flex-direction: column;

                    .primary {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}