// colors
$light-background: #78787f;
$primary-background: #f0ebeb;
$primary: #e6d300;
$secondary: #e6d300;
$light-gray: #d5dee6;
$success: #4BB543;
$danger: #e6d300;
$text-primary: #fff;
$text-secondary: #777;
$rating-color: #f9bf3b;
$link-color: darken($secondary, 10%);

// dimensions
$navHeight: 80px;

// breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
